
<h1>{{title}}</h1>

<div *ngIf="!isUser">
  <button (click)="login()" class="btn btn-info"> Log In Facebook </button>
</div>
<div *ngIf="isUser">
  <h2> Welcome {{name}} </h2>
</div>

<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>

<router-outlet></router-outlet>